*{
  margin:0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  
}
.navDetails{
  width: 100%;
}
.BotonDetails{
  display: flex;
  justify-content: center;
}
header{
  height: 4.8rem;
  width: 100%;
  display: flex;
  justify-items: center;
  align-content: center;
  text-align: center;
}
 


.logo{
width: 60px;
}


.Body{
  flex-grow: 2;
  background-image: url(https://www.lavanguardia.com/files/image_948_465/uploads/2018/01/22/5fa4314cb1e8f.jpeg);  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0);;
  background-position: 30%;
  background-size: cover;
  z-index: 2;
  position: relative;
  color: black;
 display: flex;
 justify-content: center;
flex-direction: column;
align-items: center; 

}

.buttonHeader{
  background: #FBCA1F;
 font-family: inherit;
 padding: 0.6em 1.3em;
 font-weight: 900;
 font-size: 18px;
 border: 3px solid black;
 border-radius: 0.4em;
 box-shadow: 0.1em 0.1em;
 }
 
 .buttonHeader:hover {
  transform: translate(-0.05em, -0.05em);
 box-shadow: 0.15em 0.15em;
 }
 
 
.buttonHeader:active {
  transform: translate(0.05em, 0.05em);
 box-shadow: 0.5em 0.em;
 }

.ContainerCarousel{
   display: flex;
   justify-content: center !important;
   align-self: center !important;
   align-items: flex-start;
   width: 100%;
   height: 1vh;

}

.footer{
  background-color: #000000;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 98%;
  padding: 1%;
  flex-grow: 1 !important;
  
}
.logueateRata{
  color: black !important;
 height: 7rem;
 margin-top: 1rem;
 background-color: red;
 font-size: 20px ;
 display: flex;
 align-items: center;
 flex-direction: column;

}

.logueateRata1{
 color: white;
}

.FoooterSign{
  display: flex;
  width: 100% !important;
  
  
}

.footerNav{
  display: flex;
  justify-content: space-between;
  gap: .9rem;
}

#app { height: 100% }
html,

body {
  background: url(https://media.istockphoto.com/vectors/white-seamless-texture-abstract-vector-background-decorative-design-vector-id955983376?b=1&k=20&m=955983376&s=170667a&w=0&h=yiBk4EJbIeNNSBard20GRaFVzTyg3TRyteQ5R6_Vxcc=);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  width: 100%;
  padding: 0;
  flex-grow: 1;
}

.swiper {
  width: 100%;
  height: 100%;
  

}

.swiper-slide {
  transition: transform 0.5s;
  border-radius: 0.4em;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*padding: 10px;*/
height: calc((90% - 30px) / 2) !important; 
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 2px solid #00000070;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0);
  flex-direction: column;
  flex-wrap: wrap;
 
 
}
.itineraryActivities{
  display: flex !important;
  flex-grow: 1 !important;
  display: flex;
  justify-content: center;
}

@media (width < 320px){
  .itineraryActivities {
    width: 100vw;
    height: 60vh;
  }}

.contenedorComentarios{
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 30px !important;
  box-shadow: 0px 12px 15px grey;
  background-color: white;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

@media (width < 320px){
  .contenedorComentarios {
    width: 70%;
    height: 60vh;
  }}

.cajaComentario{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 95%;
  margin-top: 1rem;
  background-color: rgba(255, 124, 1, 0.438);
  padding: 2%;
 
}

.nombreComentario{
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    width: 40%;
    
}


.bodyComment{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.fotoComentario{
  font-size: 15px;
    text-align: left;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 1rem;
}
.card-text-textComments{
   margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-top: 1rem;

}

.avatarComent{
  border-radius: 50%;
  width: 5rem;
}
.botonesComents{
  padding: 0.2rem;
    border-radius: 5px;
    font-size: 13px;
    background-color: #95aca8a5;
    margin-right: 1rem !important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    margin-left: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.botonEnviar{
  padding: 0.5rem;
    border-radius: 10px;
    font-size:20px;
    background-color: #e98007ef;
  
    display: flex;
    gap: 1rem;
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin: 1%;
   
   
}
.botonEdit{
  padding: 0.5rem;
  border-radius: 5px;
  font-size:20px;
  background-color: #e98007ef;
  margin-right: 1rem !important;
  margin-top: 1rem!important;
  margin-bottom: 0!important;
  margin-left: 0!important;
  display: flex;
  gap: 1rem;
  height: 3rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.botonDelete{
  padding: 0.5rem;
  border-radius: 10px;
  font-size:20px;
  background-color: #e98007ef;
  margin-right: 1rem !important;
  margin-top: 1rem!important;
  margin-bottom: 0!important;
  margin-left: 0!important;
  display: flex;
  gap: 1rem;
  height: 3rem;
  width: 15%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}
#nuevoComentario{
  
  padding: 5%;
  display: flex;
  margin: 1rem;
  justify-content: center;
  background-color: #fff;
}
.ingresarComentario{
  margin-top: 2rem;
  background-color: rgba(0, 0, 255, 0.452);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ingresarComentario h3{
margin-top: 1rem;
margin-left: 2%;
}
.cajitaComent{
 width: 4rem;
 height: 2rem;
 display: flex;
 align-items: center;
}
.tarjetaItinerario{
  display: flex;
  align-items: center;
  

}
.css-6mpdo9-MuiPaper-root-MuiCard-root{
  width: 400px !important;
}
.css-1487lx3{
  display: flex;
  flex-direction: column;
}
 .caja{
   color:white;
   font-size: 1em;
   background-color: #00000054;
   border-radius: 00.4em;
   padding: 10px;
  }
 .caja:hover{
  transform: scale(1.2);
 }
.cardSw{
  margin-top: 2.5rem;
  width: 15%!important;
  height: 40%!important;
}
.swiper-button-next{
  right: -3px!important;
}

.swiper-button-prev{
  left: -3px!important;
}

.ContainerCarousel {
    width: 60%;
    height: 80vh;
    padding-left: 0%;
    margin-left: 1rem;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    
  }
  .inputText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;

  }

.ContainerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap:1rem;
  flex-grow: 1;
 
  
  
}
/*CITIES*/
.Card{
  box-shadow:inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0)
}
 
.inputText {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #003afa85;
  box-shadow: 6px 6px 12px #0f0e0ea9,
              -6px -6px 12px #0f0e0ea9;
  font-size: 10px!important;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .inputText :focus {
  outline-color: white;
  place-content: "Enter your message!";
 }

.BodyDetails{
  display: flex;
  justify-content:center;
  justify-items: center;
  align-content: space-between;

  flex-wrap: wrap !important;
  gap: 1rem !important;
  
}
.contenedorTinerary{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.CardItinerario{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 5rem;
  flex-wrap: wrap;
align-items: center;
flex-grow: 1;
}
.CardDetails{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 8rem;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.FooterDetails{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.8rem;
  flex-grow: 1 !important;

}

a{
  color: white;
}

/*COMENTARIOS*/





  @media (width < 1280px){
    .ContainerCarousel {
      width: 100vw;
      
    }
    
  } 
  @media (width < 1300px){
    .ContainerCarousel {
      width: 97.6vw;
      

      }}

@media (width < 768px){
    .ContainerCarousel {
      width: 88vw;
      height: 50vh;
    }
    .swiper {
      width: 100%;
      height: 100%;
      
    
    }
    
  } 
 

  @media (width < 1280px){
    .ContainerCarousel {
      width: 100vw;
      
    }
    
  } 

  @media (width < 1513px){
    .ContainerCarousel {
      width: 97vw;
      height: 90vh;
    }
  }



  @media (width < 1300px){
    .ContainerHeader {
      width: 100%;
      

      }}
      

@media (width < 768px){
    .ContainerHeader {
      width: 100vw;
      height: 60vh;
    }
    
  } 

  @media (width < 620px){
    .ContainerHeader {
      width: 105vw;
      height: 60vh;
    }
    
  } 

  @media (width < 320px){
    .ContainerHeader {
      width: 100vw;
      height: 60vh;
    }
    
  } 
  
  @media (width < 1513px){
    footer {
      width: 97vw;
      height: 90vh;
    }
  }
  
  .css-17ig4w1{
    padding: 10px;
    color: #000;
  }

 .caja
{
    color: #000;
    height:1.5rem;
    width: 10rem;
    border: 2px solid black;
    background-color: rgba(200, 255, 0, 0.493);
} 

.countryCard {
  width: 50%;
}

.countryCardImage {
width: 100%;
height: auto;
object-fit: cover;
}

.itinerario {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#nuevoComentario {
  border: 1px solid black;
}

.itineraryActivities {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.itineraryActivity {
  object-fit: cover;
  width: 30%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
}

@media (width < 2100x){
  .FooterDetails {
    margin-top:1rem!important;
    width: 100vw;
    height: 100vh;
  }}

  @media (width < 280x){
    .FooterDetails {
      display: flex!important;
      flex-wrap: wrap !important;
      width: 100vw !important;
      height: 100vh !important;
      margin-top: 1rem !important;
    }}