*{
  margin:0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  
}

header{
  height: 4.8rem;
  width: 100%;
  display: flex;
  justify-items: center;
  align-content: center;
  text-align: center;
}
 


.logo{
width: 60px;
}


.Body{
  flex-grow: 2;
  background-image: url(https://www.lavanguardia.com/files/image_948_465/uploads/2018/01/22/5fa4314cb1e8f.jpeg);  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0);;
  background-position: 30%;
  background-size: cover;
  z-index: 2;
  position: relative;
  color: black;
 display: flex;
 justify-content: center;
flex-direction: column;
align-items: center; 

}

.buttonHeader{
  background: #FBCA1F;
 font-family: inherit;
 padding: 0.6em 1.3em;
 font-weight: 900;
 font-size: 18px;
 border: 3px solid black;
 border-radius: 0.4em;
 box-shadow: 0.1em 0.1em;
 }
 
 .buttonHeader:hover {
  transform: translate(-0.05em, -0.05em);
 box-shadow: 0.15em 0.15em;
 }
 
 
.buttonHeader:active {
  transform: translate(0.05em, 0.05em);
 box-shadow: 0.5em 0.em;
 }

.ContainerCarousel{
   display: flex;
   justify-content: center !important;
   align-self: center !important;
   align-items: flex-start;
   width: 100%;
   height: 1vh;

}

.footer{
  background-color: #000000;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  height: 7vh;
  width: 98%;
  padding: 1%;
  flex-grow: 1 !important;
  
}

.FoooterSign{
  display: flex;
  width: 100% !important;
  
}

.footerNav{
  display: flex;
  justify-content: space-between;
  gap: .9rem;
}

#app { height: 100% }
html,

body {
  background: url(https://media.istockphoto.com/vectors/white-seamless-texture-abstract-vector-background-decorative-design-vector-id955983376?b=1&k=20&m=955983376&s=170667a&w=0&h=yiBk4EJbIeNNSBard20GRaFVzTyg3TRyteQ5R6_Vxcc=);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  width: 100%;
  padding: 0;
  flex-grow: 1;
}

.swiper {
  width: 100%;
  height: 100%;
  

}

.swiper-slide {
  transition: transform 0.5s;
  border-radius: 0.4em;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*padding: 10px;*/
height: calc((90% - 30px) / 2) !important; 
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 2px solid #00000070;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0);
  flex-direction: column;
  flex-wrap: wrap;
 
 
}

  
 .caja{
   color:white;
   font-size: 1em;
   background-color: #00000054;
   border-radius: 00.4em;
   padding: 10px;
  }
 .caja:hover{
  transform: scale(1.2);
 }
.cardSw{
  margin-top: 2.5rem;
  width: 15%!important;
  height: 40%!important;
}
.swiper-button-next{
  right: -3px!important;
}

.swiper-button-prev{
  left: -3px!important;
}

.ContainerCarousel {
    width: 60%;
    height: 80vh;
    padding-left: 0%;
    margin-left: 1rem;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    
  }
  .inputText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;

  }

.ContainerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap:1rem;
  flex-grow: 1;
 
  
  
}
/*CITIES*/
.Card{
  box-shadow:inset 0 0 10px rgba(255, 255, 255, 0.6), 0 0 9px 3px rgb(0, 0, 0)
}

.inputText {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #003afa85;
  box-shadow: 6px 6px 12px #0f0e0ea9,
              -6px -6px 12px #0f0e0ea9;
  font-size: 10px!important;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .inputText :focus {
  outline-color: white;
  place-content: "Enter your message!";
 }

.BodyDetails{
  display: flex;
  justify-content:center;
  justify-items: center;
  align-content: space-between;
  height: 100vh;
  flex-wrap: wrap !important;
  gap: 1rem !important;
  
}
.contenedorTinerary{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.CardItinerario{
  display: flex;
  margin-top: 1rem;
  gap: 5rem;
  flex-wrap: wrap;

}
.CardDetails{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 8rem;
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.FooterDetails{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.8rem;
  flex-grow: 1 !important;

}

a{
  color: white;
}






  @media (width < 1280px){
    .ContainerCarousel {
      width: 100vw;
      
    }
    
  } 
  @media (width < 1300px){
    .ContainerCarousel {
      width: 97.6vw;
      

      }}

@media (width < 768px){
    .ContainerCarousel {
      width: 88vw;
      height: 50vh;
    }
    .swiper {
      width: 100%;
      height: 100%;
      
    
    }
    
  } 
 

  @media (width < 1280px){
    .ContainerCarousel {
      width: 100vw;
      
    }
    
  } 

  @media (width < 1513px){
    .ContainerCarousel {
      width: 97vw;
      height: 90vh;
    }
  }



  @media (width < 1300px){
    .ContainerHeader {
      width: 100%;
      

      }}
      

@media (width < 768px){
    .ContainerHeader {
      width: 100vw;
      height: 60vh;
    }
    
  } 

  @media (width < 620px){
    .ContainerHeader {
      width: 105vw;
      height: 60vh;
    }
    
  } 

  @media (width < 320px){
    .ContainerHeader {
      width: 100vw;
      height: 60vh;
    }
    
  } 
  
  @media (width < 1513px){
    footer {
      width: 97vw;
      height: 90vh;
    }
  }
  
  .css-17ig4w1{
    padding: 10px;
    color: #000;
  }

 .caja
{
    color: #000;
    height:1.5rem;
    width: 10rem;
    border: 2px solid black;
    background-color: rgba(200, 255, 0, 0.493);
} 


@media (width < 2100x){
  .FooterDetails {
    margin-top:1rem!important;
    width: 100vw;
    height: 100vh;
  }}

  @media (width < 280x){
    .FooterDetails {
      display: flex!important;
      flex-wrap: wrap !important;
      width: 100vw !important;
      height: 100vh !important;
      margin-top: 1rem !important;
    }}